@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700&display=swap');
:root{
    --cinza-claro: #f5f5f5;
    --cinza: #666666;
    --cinza-linha: #ededed;
    --azul-claro: #f3f9fb;
    --azul: #212844;
    --branco: #ffffff;
    --azul-celeste: #008ecc;
}
body{
    font-family: 'Hanken Grotesk', sans-serif;
    color: var(--cinza);
    font-size: 14px;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-color: var(--cinza-claro);
    display: flex;
    justify-content: space-around;
    padding: 0.6em 0;
}
.cabecalho__lista{
    display: flex;
    column-gap: 2em;
}
.cabecalho__lista-item{
    display: flex;
    column-gap: 0.5em;
    align-items: center;
}
.destaque{
    font-weight: 700;
}
.navegacao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 21px 0;
    border-bottom: 1px solid var(--cinza-linha);
}
.navegacao__lista-logo{
    display: flex;
    align-items: center;
    column-gap: 1em;
}
.navegacao__lista{
    display: flex;
    list-style: none;
    column-gap: 0.6em;
}
.navegacao__lista-item{
    display: flex;
    align-items: center;
    column-gap: 0.5em;
    font-size: 16px;
    font-weight: 700;
}
.navegacao__pesquisa{
    width: 507px;
    height: 48px;
    border-radius: 10px;
    background-color: var(--azul-claro);
    border: none;
}
.navegacao__pesquisa::placeholder{
    font-family: 'Hanken Grotesk', sans-serif;
    color: var(--cinza);
    font-size: 14px;
    font-weight: 400;
    background: url("../assets/Search.png") no-repeat;
    background-position: 1em;
    text-align: left;
    padding: 0 0 0 3em;

}
.categorias{
  margin: 1em 1em 1em 1em;  
  border-bottom: 1px solid var(--cinza-linha);
}
.categorias__menu{
    display: flex;
    align-items: center;
    column-gap: 0.5em;
    margin: 0 5em;
    
    
}
.categorias__menu-item{
    display: flex;
    background-color: var(--azul-claro);
    padding: 9px 14px;
    border-radius: 18px;
    /* column-gap: 0.2em; */
    margin-bottom: 1em;
    
    
}
.carrosel{
    margin: 0 120px 120px 120px;
    display: flex;
    width: 75%;
    background-color: var(--azul);
    border-radius: 16px;
    justify-content: space-between;
    align-items: start;
    padding: 1em 2em 1em 2em;
    
    /* background: url("../assets/Group\ 16.png") no-repeat ; */
    ;
}

.carrosel__subtitulo{
    color: var(--branco);
    font-size: 30px;
    font-weight: 600;
}
.carrosel__titulo{
    font-size: 63px;
    font-weight: 700;
    color: var(--branco);
}
.telefones{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5em 5em;
    border-bottom: 1px solid var(--cinza-linha);
}
.telefones__lista{
    display: flex;
    align-items: center;
    column-gap: 0.5em;
    
    
}
.telefones__titulo{
    font-size: 24px;
    font-weight: 700;
    color: var(--cinza);
    border-bottom: 2px solid var(--azul-celeste);
}
.destaque-telefones{
    color: var(--azul-celeste);
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}
.card{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 378px;
    background-color: var(--cinza-linha);

    border: 1px solid var(--azul-celeste);
}
.card__imagem{
    width: 84px;
    
}
.card_descricao{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--branco);
    width: 100%;
}